<div *ngIf="personne">

    <h2>Voici les détails de cette personne :</h2>
        
        <label>Nom : <input [(ngModel)]="personne.nom" ></label>
    <br>
        <label>Prénom : <input [(ngModel)]="personne.prenom" ></label>
    <br>
        <label>Age : <input [(ngModel)]="personne.age" ></label>
    <br>
        <label>Niveau d'étude : <input [(ngModel)]="personne.niveauEtude.libelle" ></label>
        <div>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle (click)="update(); goBack()">Valid change</mat-button-toggle>
                <mat-button-toggle (click)="goBack()">Go Back</mat-button-toggle>
            </mat-button-toggle-group> 
        </div>
</div>