<div class="outterDiv" *ngIf="personne">

    <h2 class="champs">Voici le détail de {{nom}} {{prenom}} :</h2>
        
       <p>
            <mat-form-field appearance="legacy">
                <mat-label>Nom</mat-label>
                <input matInput [(ngModel)] ="personne.nom" [formControl]="form.controls.name" required>
                <mat-error *ngIf="form.controls.name.invalid">{{getErrorMessageName()}}</mat-error>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Prénom</mat-label>
                <input matInput [(ngModel)]="personne.prenom" [formControl]="form.controls.surname" required>
                <mat-error *ngIf="form.controls.surname.invalid">{{getErrorMessageSurname()}}</mat-error>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Age</mat-label>
                <input matInput [(ngModel)]="personne.age" [formControl]="form.controls.age" required>
                <mat-error *ngIf="form.controls.age.invalid">{{getErrorMessageAge()}}</mat-error>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Niveau</mat-label>
                <mat-select [(ngModel)]="personne.niveauEtude.libelle">
                    <mat-option *ngFor="let n of niveauEtude" [(value)]="n.libelle">
                      {{n.libelle}}
                    </mat-option>
                  </mat-select>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </p>

        <div>
            <button mat-fab color="" [disabled]="!form.valid" (click)="update()">
                Valider
            </button>
            <button mat-fab color="warn" (click)="goBack()" class="buttonRetour">
                Annuler
            </button>
        </div>
</div>