  .outterDiv {
      margin-top: 2%;
      text-align: center;
      width: 100%;
  }

  .buttonAdd {
    width: 100%;
  }

  .buttonRetour {
    margin-left: 1% !important;
  }

.champs{
  margin-top: 4%;
}

.formAdd {
  margin-top: 2%;
}

/* Structure */
table {
  width: 100%;
}
